APP_NAME=order-service
PORT=8004
APP_ENV=development
SIGNATURE_KEY=

DB_HOST=localhost
DB_PORT=5432
DB_NAME=order_service
DB_USERNAME=postgres
DB_PASSWORD=
DB_SSL_MODE=disable
DB_MAX_OPEN_CONNECTION=10
DB_MAX_IDLE_CONNECTION=10
DB_MAX_LIFETIME=10

RATE_LIMITER_MAX_REQUEST=1000
RATE_LIMITER_TIME_SECOND=60

USER_HOST=http://localhost:8001
USER_SIGNATURE_KEY=

FIELD_HOST=http://localhost:8002
FIELD_SIGNATURE_KEY=

PAYMENT_HOST=http://localhost:8003
PAYMENT_SIGNATURE_KEY=

KAFKA_BROKERS=localhost:9092
KAFKA_TIMEOUT=100
KAFKA_MAX_PROCESSING_TIME=200
KAFKA_BACKOFF_TIME=100
KAFKA_MAX_RETRY=3
KAFKA_TOPIC=payment-service-callback
KAFKA_GROUPID=payment-consumer

TIMEZONE=Asia/Jakarta
CONSUL_HTTP_URL=
CONSUL_HTTP_KEY=
CONSUL_HTTP_TOKEN=
CONSUL_WATCH_INTERVAL_SECONDS=60
