APP_NAME=payment-service
PORT=8003
APP_ENV=development
SIGNATURE_KEY=

DB_HOST=localhost
DB_PORT=5432
DB_NAME=payment_db
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_SSL_MODE=disable
DB_MAX_OPEN_CONNECTION=10
DB_MAX_IDLE_CONNECTION=10
DB_MAX_LIFETIME=10

RATE_LIMITER_MAX_REQUEST=1000
RATE_LIMITER_TIME_SECOND=60

MAX_UPLOAD_SIZE=2

CLOUDFLARE_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_ENDPOINT=
R2_PUBLIC_URL=

USER_HOST=http://localhost:8001
USER_SIGNATURE_KEY=

KAFKA_BROKERS=localhost:9092
KAFKA_TIMEOUT=100
KAFKA_MAX_RETRY=3
KAFKA_TOPIC=payment-service-callback

MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_PRODUCTION=false

TIMEZONE=Asia/Jakarta
CONSUL_HTTP_URL=
CONSUL_HTTP_KEY=
CONSUL_HTTP_TOKEN=
CONSUL_WATCH_INTERVAL_SECONDS=60
