# --- App Configuration ---
APP_NAME=field-service
APP_ENV=development             # development, production, test
PORT=8002
TIMEZONE=UTC
SIGNATURE_KEY=your_secret_signature_key_here    # Used for API Key SHA256 validation

# --- Database Configuration (PostgreSQL) ---
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ms_field_service
DB_USERNAME=postgres
DB_PASSWORD=password
DB_SSL_MODE=disable             # disable, require, verify-ca, verify-full
DB_MAX_OPEN_CONNECTION=100
DB_MAX_IDLE_CONNECTION=10
DB_MAX_LIFETIME=3600            # in seconds
DB_MAX_IDLE_TIME=1800           # in seconds

# --- Cloudflare Configuration ---
CLOUDFLARE_ACCOUNT_ID=secret
R2_ACCESS_KEY_ID=secret
R2_SECRET_ACCESS_KEY=secret
R2_BUCKET_NAME=secret
R2_ENDPOINT=https://secret
R2_PUBLIC_URL=https://secret


# --- Rate Limiter Configuration ---
RATE_LIMITER_MAX_REQUEST=5.0    # maximum requests per second
RATE_LIMITER_TIME_SECOND=1      # time window in seconds

# --- Consul Configuration (Optional) ---
# CONSUL_HTTP_URL=http://localhost:8500
# CONSUL_HTTP_KEY=config/field-service
# CONSUL_HTTP_TOKEN=
# CONSUL_WATCH_INTERVAL_SECONDS=30
